<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  strong {
    font-weight: bold;
  }
</style>

<div class="message-content">
  <p><strong>Remetente: </strong>{{nome}} - {{email}}</p>
  <p><strong>Destinatário: </strong>Samuel de Sousa Dias - samukdias97@gmail.com</p>
  <p><strong>Assunto: </strong>{{assunto}}</p>
  <p><strong>Mensagem: </strong>{{mensagem}}</p>
  <small>Clique <a href="http://seusistema.com.br">aqui</a> para ir ao portifólio.</small>
</div>